<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
        <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
            xmlns="http://www.w3.org/2001/04/xmlenc#">
            <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#aes256-cbc" />
            <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
                    <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
                    <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                        <KeyName>Rsa Key</KeyName>
                    </KeyInfo>
                    <CipherData>
                        <CipherValue>JyPE4d4M/Pe042WQVWmH1sVmstmT2clULa/P6LrRE+XEKDINYAMEnrnTx66IkX3uJrYNF7gO5sNfUw5mefxNY0DAwE2m7Adj0Do2Nx1epkgB6fhJXxKlNxFUmask186YOcUlOrIUripFbk5pWtxFiSprXk5vKjiwmGuJDaALilgetJCfSxCQp2WNVxE+PmF6B5C4kotEIJWGRocL6graEo2+08NyyhyJ85Sn3MFmNNY7VCop5pxk2EDooTtwyQkzlOjehbGTKSkYhxEPWwhRhQrm60wJyxKdgo0nRmtSoWeyV6a4DYq4j8mtmEsFr+tjniWmQxcOF1TSg9c+eQ58UQ==</CipherValue>
                    </CipherData>
                </EncryptedKey>
            </KeyInfo>
            <CipherData>
                <CipherValue>7KIMqkMqKMa7K1m9SPcaLtmGpr/NbJhUda80xNJew9rBBVyDtxxkOy041jUyjTo3GJxJkb9uYRq5JCLgJFoHrnqgfm30uSREuTDhRNKNbMzJtvmy66lICLdOlvZHpi0QfL8NF+D2+bGl/KC9vUfqoHYvfWOgwKC28V0IxBCx7DxbMgdpOhZbyeDgWjMZ8cp/SoAkPQiQHT+GxYkGqmeA+W47r7Hmr3EbBcqHF8doqQnFp5a6be2zsLYcaVRK51ll+eAjllijTYVzEdvEtdKQuJjX7X6SrD/Cx8l+Ba6xx48qS+P0GDYq56GQrzDiOqZYvMV/9rZiQ1bF3KXLruiogcrshlqAx6tV1tZekIMGocO+at9MperbOenefL1fTdjv</CipherValue>
            </CipherData>
        </EncryptedData>
    </connectionStrings>
    <appSettings configProtectionProvider="RsaProtectedConfigurationProvider">
        <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
            xmlns="http://www.w3.org/2001/04/xmlenc#">
            <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#aes256-cbc" />
            <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
                    <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
                    <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                        <KeyName>Rsa Key</KeyName>
                    </KeyInfo>
                    <CipherData>
                        <CipherValue>Ej3bERuvWzYftEXt3UuWACx7Xfm1B5r/C3XkpQPjPtiaUvWWL9IEHsA4AWtm/AS1ekKxDmsTU7sHFkJCMA8aBzBaL1G75NpaWyAZSM4J43pXlqRv0G71jDTDhwJC75VdGILAq1ZCesrX970hYFczRB3ewjJoUDjco5pkXfA+fAIjfa8oiY1BqS+gkX1HZAHh9M0RBD8nNP4/LpX46/JWg08khhshBVEsGhC42Bj8xfTf3XmP9VaFZ2RQC8qM9uIWty+WT9k1LDeW1V+UIL4GesC7ZjPvm5azTE5annNLdj7q0ZUe2pqMpTSAOIFb/oXUNo+3oNeDsRWJmmM5/Rr+GQ==</CipherValue>
                    </CipherData>
                </EncryptedKey>
            </KeyInfo>
            <CipherData>
                <CipherValue>Ug+5yGLms9vnBX289WyQPhtsR307ijFnBlU/y5h/QcAErd+b6vX5wzf59z67rMVxnHAF+ZCmmKqa7VFYYsz51CWxiMZWr4LxCSZ8NAMY7cA=</CipherValue>
            </CipherData>
        </EncryptedData>
    </appSettings>
    <system.net>
        <mailSettings>
            <smtp configProtectionProvider="RsaProtectedConfigurationProvider">
                <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
                    xmlns="http://www.w3.org/2001/04/xmlenc#">
                    <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#aes256-cbc" />
                    <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
                            <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
                            <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                                <KeyName>Rsa Key</KeyName>
                            </KeyInfo>
                            <CipherData>
                                <CipherValue>Wi56Jp6rKxrJ4GklwQN81uBxEZL4XHSxw3gu2GPh5U72OR05MDZ05PsA/omcuPPe9rg7wmsVLL1Curxaj/WZdfJzdIZndUzyO9Wjg3WQFSELWm1sZq6heAJ3yR0A1Gi2IeOCY+YU/uBMZdrFRezAgN9nun9JCJy/iSvWXRLsMRzaPxDc4uo0emuNz96ZiGMer/vWKRZOV1UIHrUjEDv+svtHL4U2JXvEybirnqAOZnWSLj2T3num+82CGXtBgYAeHj8d7DcxliFWOm6wpQpoFD5V2CoGpBtFtvGimEv2FRCbKLIZnGWpXmNNX+LpQ7XYRvXH99tTdoh3V/ZClImouA==</CipherValue>
                            </CipherData>
                        </EncryptedKey>
                    </KeyInfo>
                    <CipherData>
                        <CipherValue>NIi0dG6UzmMlFz/Q2cNycLNaDczYWo3XMeIBI6nWfThJqpMN857SqXEv2Cds/VQAXAnbmY2z1Sen0Gyrj7V+NYfa9UCFCGKNH+SLtN7bkcQ4MUBttSLFRnaiDI+aM1tmC3iFoLGsKYaZOZ6TmxmFdxm+/KBtj0PSaDiuPmcWsN38Sd1Uqa+Qxe2Rl1MpcNtxI/I1GZl60rYVzyo8GpnP7Q==</CipherValue>
                    </CipherData>
                </EncryptedData>
            </smtp>
        </mailSettings>
    </system.net>
</configuration>