<div>היי |שם|,</div>
<div>ברוכ/ה הבא/ה לד"ר לוגי !</div>
<div>בהתאם להודעה שקיבלנו מביטוח לאומי, מעדכנת גם כאן בצורה מסודרת :</div>
<div>&nbsp;</div>
<div>אושרה לך זכאות להנגשות בין התאריכים <span style="color: #000000;">|התחלה| ו</span>עד ה-|סוף|.גגגגג</div>
<div>&nbsp;</div>
<div>|הנגשות| <br><br><strong>בסמסטר זה, רכזת בשם |רכז| תהיה אחראית על השיבוץ שלך ותיתן לך מענה.</strong></div>
<div><strong><br></strong> <strong>המס שלה הוא -|טלפון רכז|</strong></div>
<div>&nbsp;</div>
<div>אנחנו רוצים להתחיל ולעבוד כדי למצוא לך תלמיד מתאים בהקדם, נשמח שתעביר/י לרכזת המטפלת סילבוסים בקורסים בהם את/ה זקוק/ה לסיוע . <br>|הערות| <br><br></div>
<div>לתשומת <img class="an1" src="https://fonts.gstatic.com/s/e/notoemoji/15.0/2764/32.png" alt="❤" loading="lazy" data-emoji="❤" aria-label="❤">:</div>
<div>*אין לחרוג מתקופת הזכאות הכוללת וממכסת השעות החודשית.</div>
<div>*אין להעביר שעות מחודש לחודש...</div>
<div>* אין לבצע מעל 5 שעות של שיעורי עזר ליום .</div>
<div>&nbsp;</div>
<div>
<div><strong><span style="color: #20124d;">מדיניות ביטולים:</span></strong> <br><img class="an1" src="https://fonts.gstatic.com/s/e/notoemoji/15.0/25aa_fe0f/32.png" alt="▪️" loading="lazy" data-emoji="▪️" aria-label="▪️"> ניתן לבטל שיעור עד 24 שעות לפני תחילת השיעור, במידה והשיעור בוטל פחות מ24 שעות לפני מועד התחלתו יחשבו השעות המבוטלות כשיעור לכל דבר, ועל הסטודנט לחתום לתלמיד כאילו השיעור בוצע.</div>
<div><img class="an1" src="https://fonts.gstatic.com/s/e/notoemoji/15.0/25aa_fe0f/32.png" alt="▪️" loading="lazy" data-emoji="▪️" aria-label="▪️"> נא להקפיד לחתום לתלמיד בסוף כל שיעור על הקישור שישלח אליכם ולא להמתין לסוף החודש.</div>
<div>&nbsp;</div>
<div><strong><span style="font-family: arial, sans-serif;">בברכה,<br>אוריין עובדיה<br>ד"ר לוגי השכלה בע"מ</span></strong></div>
</div>