<p><span style="color: #000000;">היי |שם|,<br></span>בהתאם להודעה שקיבלנו מביטוח לאומי, מעדכנת  גם כאן בצורה מסודרת :</p>
<div>
    <div><span style="color: #000000;">אושרה לך זכאות מחודשת עבור הנגשות, בין התאריכים |התחלה|</span> ועד ה-|סוף|</div>
    <div> </div>
    <div>|הנגשות|</div>
    <div><span style="color: #000000;"><br>|הערות|<br><br></span></div>
    <div><strong><span style="color: #000000;">לכל בעיה ניתן לפנות לרכז כדי לקבל מענה ופתרון במהירות,גם </span></strong> <strong>בסמסטר זה, רכזת בשם |רכז| תהיה אחראית על השיבוץ שלך. המס שלה הוא  |טלפון רכז|.</strong><span style="color: #000000;"><br><br></span></div>
    <div>
    <div>על מנת שנוכל לעזור לך יש לשלוח בהקדם בווטצאפ/ במייל :</div>
    <div>1. שמות המורים עימם אתה מעוניין להמשיך ללמוד גם הסמסטר. </div>
    <div>2. סילבוסים של מקצועות חדשים שהינך זקוק בהם לעזרה בסמסטר הנוכחי. </div>
    <div> </div>
    <div><span style="color: #20124d;"><strong>לתשומת <img class="an1" src="https://fonts.gstatic.com/s/e/notoemoji/15.0/2764/32.png" alt="❤" loading="lazy" data-emoji="❤" aria-label="❤">: </strong> </span></div>
    <div><img class="an1" src="https://fonts.gstatic.com/s/e/notoemoji/15.0/25aa_fe0f/32.png" alt="▪️" loading="lazy" data-emoji="▪️" aria-label="▪️">אין לחרוג מתקופת הזכאות הכוללת וממכסת השעות החודשית.</div>
    <div><img class="an1" src="https://fonts.gstatic.com/s/e/notoemoji/15.0/25ab_fe0f/32.png" alt="▫️" loading="lazy" data-emoji="▫️" aria-label="▫️">אין להעביר שעות מחודש לחודש.</div>
    <div><img class="an1" src="https://fonts.gstatic.com/s/e/notoemoji/15.0/25aa_fe0f/32.png" alt="▪️" loading="lazy" data-emoji="▪️" aria-label="▪️">אין לבצע מעל 5 שעות של שיעורי עזר ליום. <br><br><strong><span style="color: #20124d;">מדיניות ביטולים:</span></strong><br><img class="an1" src="https://fonts.gstatic.com/s/e/notoemoji/15.0/25aa_fe0f/32.png" alt="▪️" loading="lazy" data-emoji="▪️" aria-label="▪️"> ניתן לבטל שיעור עד 24 שעות לפני תחילת השיעור, במידה והשיעור בוטל פחות מ24 שעות לפני מועד התחלתו יחשבו השעות המבוטלות כשיעור לכל דבר, ועל הסטודנט לחתום לתלמיד כאילו השיעור בוצע.</div>
    <div><img class="an1" src="https://fonts.gstatic.com/s/e/notoemoji/15.0/25aa_fe0f/32.png" alt="▪️" loading="lazy" data-emoji="▪️" aria-label="▪️">נא להקפיד לחתום לתלמיד בסוף כל שיעור על הקישור שישלח אליכם ולא להמתין לסוף החודש.</div>
    <div> </div>
    <div><strong><span style="font-family: arial, sans-serif;">בברכה,<br>אוריין עובדיה<br>ד"ר לוגי השכלה בע"מ</span><br></strong></div>
        </div>
</div>