<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<system.net>
		<mailSettings>
			<smtp deliveryMethod="Network" from="mailer@dr-logylogin.co.il">
				<network defaultCredentials="false" host="smtp-pulse.com" port="587" userName="yaronrh@gmail.com" password="OdedKatashBenZona123" />
			</smtp>
		</mailSettings>
	</system.net>

	<appSettings>
		<add key="MailFrom" value="mailer@dr-logylogin.co.il" />
		<add key="MailFromTitle" value="dr-logy.co.il" />
		<add key="MailReplyTo" value="support@dr-logy.co.il" />
		<add key="Connection" value="Data Source=mssql2.websitelive.net;Initial Catalog=8156_drlogy_prod;Persist Security Info=True;User ID=8156_drlogy_prod;Password=q1W@xse311!!!" />
		<add key="DestFolder" value="" />
		<add key="Source" value="" />
		<add key="FixIdNum" value="1" />
		<add key="Year" value="2022" />
		<add key="MailMessage0" value="שלום |TEACHER|&#xD;&#xA;&#xD;&#xA;מצ&quot;ב חשבונית פירוט לחודש 01/2023&#xD;&#xA;&#xD;&#xA;בברכה,&#xD;&#xA;&#xD;&#xA;ד&quot;ר לוגי" />
		<add key="MailSubject0" value="חשבונית 01/2023" />
		<add key="MailMessage1" value="שלום |TEACHER|&#xD;&#xA;&#xD;&#xA;מצ&quot;ב טופס 806 לשנת 2022.&#xD;&#xA;&#xD;&#xA;בברכה,&#xD;&#xA;&#xD;&#xA;ד&quot;ר לוגי" />
		<add key="MailSubject1" value="טופס 806 לשנת 2022" />
	</appSettings>
	
</configuration>